{% extends 'base.html.twig' %}


{% block body %}
    {% include 'home/component/_nav.html.twig' %}
    <div class="d-flex flex-wrap justify-content-center m-5">
{% for user_photo in user_photos %}


    <div class="d-flex flex-column flex-nowrap align-items-center use-shadow image-shadow m-4">
        {% if user_photo.isApproved %}
          <div class="simple-police  text-success d-flex justify-content-between"> <div><i class="fas fa-check"></i>Approved </div><a class="simple-police ml-5 btn-danger" href="{{ path('photo_approval', {'id': user_photo.id}) }}"> <i class="fas fa-times"></i>  Withdraw</a> </div>

            {% else %}
              <div class="simple-police text-warning d-flex justify-content-between"> <div><i class="fas fa-hourglass-half"></i> Pending </div> <a class="simple-police ml-5 btn-success" href="{{ path('photo_approval', {'id': user_photo.id}) }}"><i class="fas fa-check"></i> Approve</a></div>

        {% endif %}
        <img class="small-image image-shadow m-2" src="/uploads/{{user_photo.image }}" alt="image of {{ user_photo.episode.recipename }}">
        <a class="episode-title-text simple-police dark-text" href="{{ path('episode_show', {'slug': user_photo.episode.slug}) }}">{{ user_photo.episode.recipename }}</a>
        <div class="simple-police dark-text">Uploaded by {{ user_photo.user.username }}</div>
    </div>


    {% endfor %}


    </div>



{% endblock %}