{% extends 'base.html.twig' %}
{% block body %}
    {% include 'home/component/_nav.html.twig' %}
    <div class="d-flex flex-column align-items-center m-5">
<div class="dark-text simple-police large-text"> User photos for <a class="episode-title-text simple-police blue-text-hoverable" href="{{ path('episode_show', {'slug': episode.slug}) }}"><i class="fas fa-quote-left"></i> {{  episode.title }} <i class="fas fa-quote-right"></i> - {{  episode.recipename }}</a></div>
    {% for message in app.flashes('notice') %}
        <div class="alert-success alert">
            {{ message }}
        </div>
    {% endfor %}

        <div class="d-flex justify-content-center align-items-center flex-wrap m-5">
        {% for user_photo in user_photos %}
    <div class="d-flex flex-column flex-nowrap align-items-center use-shadow image-shadow m-4">
            <img class="small-image image-shadow m-2" src="/uploads/{{user_photo.image }}" alt="image of {{ user_photo.episode.recipename }}">
        <div class="simple-police dark-text">Made by {{ user_photo.user.username }}</div>
        {% if app.user == user_photo.user.username %}
    </div>


        {% else %}
<div class="d-flex flex-column justify-content-center align-items-center">
            <div class="mt-5 simple-police dark-text"> No user photos yet. Be the first to share your skills. </div>

            {% if not app.user %}
               <div><a class="episode-title-text simple-police dark-text" href="{{ path('upload_register_redirect', {'slug': episode.slug}) }}"> Register </a></div>
            {% endif %}
</div>
        {% endfor %}
</div>
        {% if app.user %}
            {{ form_start(form) }}
            {{ form_row(form.imageFile) }}
            <button class="blue-button m-3">Upload</button>
            {{ form_end(form) }}
        {% endif %}
    </div>

{% endblock %}
