{% extends 'base.html.twig' %}
{% block body %}
    {% include 'home/component/_nav.html.twig' %}
    <div class="season-navigation">
        {% for seas in seasons %}
            <div class="season-navigation-items{% if episode.season.id == seas.id%} active active-left {% endif %}">
                <div>
                    <a class="nav-link handwriting light-text" href="{{ path('season_show', {'slug': seas.slug}) }}">Season {{seas.number }}. :
                        {{seas.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="handwriting"> <a href="{{ path('season_show', {'slug': episode.season.slug}) }}">Season {{ episode.season.number }}.   </a> <i class="fas fa-arrow-right"></i> Episode {{episode.number }}. </div>
    <div class="about-me-bg"></div>
<div class="episode-box">
    <div>
        <div class="handwriting"> <i class="fas fa-play"></i> Episode {{episode.number }}. :
            <i class="fas fa-quote-left"></i> {{episode.title }}  <i class="fas fa-quote-right"></i> <br>
            {{episode.recipename }}
        </div>
        <div class="d-flex justify-content-between">
        <div >
            <img class="large-image meal-photo m-5" src="/uploads/{{episode.images.meal}}" alt="k">
        </div>



        <div>


            <div class="d-flex justify-content-around">
                <div class="m-5"><i class="far fa-clock"></i> {{ episode.preparationtime ? episode.preparationtime|date('H:i:s') : ''  }}</div>
                <div class="m-5"> <i class="fas fa-users"></i> :
                    {% if multiplier is not same as(0) %}

                    {{multiplier }}
                    {% else %}
                        {{episode.person }}
                    {% endif %}

                </div>
                <div class="m-5"><i class="fas fa-shopping-cart"></i> Ingredients: </div></div>

            <div class="d-flex align-items-center justify-content-between" >

            <ul class="d-flex flex-column align-items-start">

                {% set i = "" %}
                {% for ingr in episode.listingredients %}

                    {%  if ingr.subingredient %}
                        {%  if i is not same as(ingr.subingredient) %}
                            {% set i = ingr.subingredient %}
                                    <div class="m-2"> {{ i }} </div>
                        {% endif %}
                        <li> {% if multiplier is not same as(0) and ingr.quantity is not null%}

                                {{ingr.quantity / episode.person * multiplier }}
                            {% else %}
                                {{ingr.quantity }}
                            {% endif %}
                            {% if ingr.measure.id is defined and ingr.measure.id is not null %}
                                {{ ingr.measure.name }}
                            {% endif %}
                            {{ingr.ingredient.name }}</li>

                    {% else %}

                    <li>
                        {% if multiplier is not same as(0) and ingr.quantity is not null %}

                                {{ingr.quantity / episode.person * multiplier }}
                            {% else %}
                                {{ingr.quantity }}
                            {% endif %}
                        {% if ingr.measure.id is defined and ingr.measure.id is not null %}
                            {{ ingr.measure.name }}
                        {% endif %}
                        {{ingr.ingredient.name }}</li>

                {% endif %}

                {% endfor %}
            </ul>
                <img class="small-image medium-photo align-self-end" src="/uploads/{{episode.images.ingredient}}" alt="k">
            </div>
            <form class="align-self-end" action="{{ path('episode_show', {'slug': episode.slug}) }}" method="post">
            <div class="m-3"> Ingredients for <input class="calc-input m-2" type="number" name="quantity" step="1"> persons </div>
                <button type="submit" class="calc-button"><i class="fas fa-calculator"></i> calculate!</button>

            </form>
        </div>

        </div>
            <div><i class="fas fa-bread-slice"></i> Preparation:
            {% apply markdown_to_html %}
            {{episode.preparation.text }}
            {% endapply %}
        </div>


           </div>

    {% if is_granted('ROLE_ADMIN') %}
    <a class="login-button m-3" href="{{ path('episode_edit', {'id': episode.id}) }}">edit</a>

    {{ include('episode/_delete_form.html.twig') }}

    {% endif %}
</div>
{% endblock %}
