{% extends 'base.html.twig' %}
{% block body %}
    {% include 'home/component/_nav.html.twig' %}
    <div class="season-navigation season-navigation-large">
        {% for seas in seasons %}
            <div class="season-navigation-items{% if episode.season.id == seas.id%} active active-left {% endif %}">
                <div>
                    <a class="nav-link handwriting light-text" href="{{ path('season_show', {'slug': seas.slug}) }}">Season {{seas.number }}. :
                        {{seas.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="season-navigation-items">
                <div>
                    <a class="nav-link handwriting light-text" href="{{ path('season_new')}}"><i class="fas fa-plus"></i> Add New Season
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

<div class="d-flex justify-content-center m-4 white-text small-text">
    <div class="handwriting plan-map-flex"> <div class="season-where-flex"><a class="white-text underlined-text" href="{{ path('season_show', {'slug': episode.season.slug}) }}">Season {{ episode.season.number }}.   </a> <i class="fas fa-arrow-right"></i> <span>Episode {{episode.number }}.</span> </div></div>
</div>



    <div class="episode-box d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex">
            {% if app.user %}
            <div class="use-shadow rounded m-1">
              <span class="heart-color"> <i id="{{ app.user.id }}-{{ episode.id }}" class="fas fa-heart"></i></span>
            </div>
            {% endif %}
            <div class="use-shadow rounded  m-1">
                <div class="simple-police dark-text"> <i class="fas fa-play"></i> Episode {{episode.number }}. :
                <i class="fas fa-quote-left"></i> {{episode.title }}  <i class="fas fa-quote-right"></i>
                </div>
                <div class="light-text simple-police">
                <i class="far fa-clock"></i> {{ episode.preparationtime ? episode.preparationtime|date('H:i:s') : ''  }}
                </div>
                <div class="simple-police light-text">
                    {{episode.recipename }}
                </div>
            </div>
        </div>

        <div class="d-flex">
            <img class="extra-large-image use-shadow rounded meal-photo m-5" src="/uploads/{{episode.images.meal}}" alt="k">
            <div class="use-shadow rounded m-1">
                <div>
                    <div class="simple-police light-text"><i class="fas fa-shopping-cart"></i> Ingredients: </div>
                    <div class="simple-police light-text"> <i class="fas fa-users"></i> :
                        {% if multiplier is not same as(0) %}
                            {{multiplier }}
                        {% else %}
                            {{episode.person }}
                        {% endif %}
                    </div>
                    <form class="align-self-end" action="{{ path('episode_show', {'slug': episode.slug}) }}" method="post">
                        <div class="m-3"> Ingredients for <input class="calc-input m-2" type="number" name="quantity" step="1"> persons </div>
                        <button type="submit" class="calc-button"><i class="fas fa-calculator"></i> calculate!</button>

                    </form>
                </div>
                <div>
                    <ul class="handwriting dark-text">
                        {% set i = "" %}
                        {% for ingr in episode.listingredients %}
                            {%  if ingr.subingredient %}
                                {%  if i is not same as(ingr.subingredient) %}
                                    {% set i = ingr.subingredient %}
                                    <div class="m-2"> {{ i }} </div>
                                {% endif %}
                                <li> {% if multiplier is not same as(0) and ingr.quantity is not null%}

                                        {{ingr.quantity / episode.person * multiplier }}
                                    {% else %}
                                        {{ingr.quantity }}
                                    {% endif %}
                                    {% if ingr.measure.id is defined and ingr.measure.id is not null %}
                                        {{ ingr.measure.name }}
                                    {% endif %}
                                    {{ingr.ingredient.name }}</li>
                            {% else %}
                                <li>
                                    {% if multiplier is not same as(0) and ingr.quantity is not null %}

                                        {{ingr.quantity / episode.person * multiplier }}
                                    {% else %}
                                        {{ingr.quantity }}
                                    {% endif %}

                                    {% if ingr.measure.id is defined and ingr.measure.id is not null %}
                                        {{ ingr.measure.name }}
                                    {% endif %}
                                    {{ingr.ingredient.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>


        <div class="d-flex">

            <div class="use-shadow rounded m-1 simple-police light-text">
                <div class="dark-text"><i class="fas fa-bread-slice"></i> Preparation:</div>
                {% apply markdown_to_html %}
                    {{episode.preparation.text }}
                {% endapply %}
            </div>


            <div>
                <img class="small-image use-shadow rounded" src="/uploads/{{episode.images.ingredient}}" alt="k">
            </div>

        </div>

    </div>
{#
    <div>
        <img class="image-blur extra-large-image use-shadow rounded meal-photo m-5" src="/uploads/{{episode.images.meal}}" alt="k">
        <img class="image-sharp extra-large-image use-shadow rounded meal-photo m-5" src="/uploads/{{episode.images.meal}}" alt="k">
    </div>
#}



    {% if is_granted('ROLE_ADMIN') %}
        <a class="login-button m-3" href="{{ path('episode_edit', {'id': episode.id}) }}"><i class="fas fa-pen"></i> Edit</a>
        {{ include('episode/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
