{% extends 'base.html.twig' %}
{% block body %}
    {% include 'home/component/_nav.html.twig' %}
    <div class="season-navigation season-navigation-large-individual-recipe">
        {% for seas in seasons %}
            <div class="season-navigation-items{% if episode.season.id == seas.id%} active active-left {% endif %}">
                <div>
                    <a class="nav-link handwriting light-text" href="{{ path('season_show', {'slug': seas.slug}) }}">Season {{seas.number }}. :
                        {{seas.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="season-navigation-items">
                <div>
                    <a class="nav-link handwriting light-text" href="{{ path('season_new')}}"><i class="fas fa-plus"></i> Add New Season
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

<div class="d-flex justify-content-center m-4 white-text small-text">
    <div class="handwriting plan-map-flex"> <div class="season-where-flex"><a class="white-text underlined-text" href="{{ path('season_show', {'slug': episode.season.slug}) }}">Season {{ episode.season.number }}.   </a> <i class="fas fa-arrow-right"></i> <span>Episode {{episode.number }}.</span> </div></div>
</div>



    <div class="episode-box d-flex flex-column align-items-center mb-5">
        <div>
            <div class="d-flex">

                <div class="use-shadow rounded stretch-item-always m-1 prep-box p-3 d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <div class="simple-police dark-text large-text"> <i class="fas fa-play"></i> Episode {{episode.number }}. :
                            « {{episode.title }} »
                        </div>
                        <div class="blue-text-dark simple-police d-flex flex-nowrap">
                        <i class="far fa-clock m-1"></i> {{ episode.preparationtime ? episode.preparationtime|date('H:i') : ''  }}
                        </div>
                    </div>
                    <div class="large-text font-weight-bold simple-police light-text align-self-center">
                    {{episode.recipename }}
                    </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="d-flex align-self-end">
                    <a class="login-button m-2" href="{{ path('episode_edit', {'slug': episode.slug}) }}"><i class="fas fa-pen"></i></a>
                    {{ include('episode/_delete_form.html.twig') }}
                    </div>
                        {% endif %}
                </div>
            {% if app.user %}
                <div class="use-shadow rounded m-1 d-flex align-items-center justify-content-center">
                    <span class="heart-color favorite-heart d-flex align-items-center justify-content-center"> <i id="{{ app.user.id }}-{{ episode.id }}" class="{% if is_favorite %}fas fa-heart{% else %}far fa-heart{% endif %} fa-3x ajax-heart p-3"></i></span>
                </div>
            {% endif %}
        </div>

        <div class="d-flex episode-show-small-screen">
            <div class="align-self-center">
            <img class="image-size-change use-shadow rounded meal-photo m-1" src="/uploads/{{episode.images.meal}}" alt="image of {{episode.recipename}}">
            </div>
            <div class="use-shadow rounded m-1 p-3 prep-box stretch-item">
                <div class="d-flex justify-content-between m-1 mb-5">
                    <div class="font-weight-bold simple-police light-text p-3"> Shopping list: </div>

                    <form class="align-self-end simple-police light-text d-flex align-items-center" action="{{ path('episode_show', {'slug': episode.slug}) }}"
                          method="get">
                        <i class="fas fa-users m-1"></i>
                        <div class="quantity">
                        <input class="calc-input light-text" value="{% if multiplier is not same as(0) %}{{multiplier }}{% else %}{{episode.person }}{% endif %}"
                               type="number" name="quantity" step="1" min="1">
                        </div>
                            <button type="submit" class="blue-button m-0 p-2"><i class="fas fa-arrow-right"></i></button>
                    </form>

                </div>
                {% for message in app.flashes('number-warning') %}
                    <div class="alert-danger alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center align-items-center">
                    <div class="sticky-note-paper p-2 shadow">
                    <i class="fas fa-map-pin"></i>
                    <ul class="handwriting dark-text">
                        {% set i = "" %}
                        {% for ingr in episode.listingredients %}
                            {%  if ingr.subingredient %}
                                {%  if i is not same as(ingr.subingredient) %}
                                    {% set i = ingr.subingredient %}
                                    <div class="m-2"> {{ i }} </div>
                                {% endif %}
                                <li> {% if multiplier is not same as(0) and ingr.quantity is not null%}

                                        {{ingr.quantity / episode.person * multiplier }}
                                    {% else %}
                                        {{ingr.quantity }}
                                    {% endif %}
                                    {% if ingr.measure.id is defined and ingr.measure.id is not null %}
                                        {{ ingr.measure.name }}
                                    {% endif %}
                                    {{ingr.ingredient.name }}</li>
                            {% else %}
                                <li>
                                    {% if multiplier is not same as(0) and ingr.quantity is not null %}

                                        {{ingr.quantity / episode.person * multiplier }}
                                    {% else %}
                                        {{ingr.quantity }}
                                    {% endif %}

                                    {% if ingr.measure.id is defined and ingr.measure.id is not null %}
                                        {{ ingr.measure.name }}
                                    {% endif %}
                                    {{ingr.ingredient.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="d-flex episode-show-small-screen">
            <div class="prep-box use-shadow rounded m-1 p-3 simple-police light-text stretch-item">
                <div class="prep-text ">
                <div class="font-weight-bold simple-police blue-text-dark p-3"> Preparation:</div>
                    <div class="blue-text-light text-wrap">
                {% apply markdown_to_html %}
                    {{episode.preparation.text }}
                {% endapply %}
                    </div>
            </div>
            </div>
            <div class="align-self-center">
                <img class="small-image m-1 use-shadow rounded" src="/uploads/{{episode.images.ingredient}}" alt="Ingredients for {{ episode.recipename }}">
            </div>
       </div>


        <div class="d-flex justify-content-end use-shadow rounded m-1 p-3 simple-police light-text">
            <a class="episode-title-text simple-police dark-text" href="{{ path('user_photo_index', {'slug': episode.slug}) }}"> How others prepared it <i class="fas fa-arrow-right"></i></a>
        </div>

    </div>

    </div>


     {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('episode_show') }}
    {% endblock %}
{% endblock %}
