{% extends 'base.html.twig' %}
{% block body %}
    {% include 'home/component/_nav.html.twig' %}
    {% include 'home/content/recipes.html.twig' %}





    <div class="wide-container-wrapper">


        <div class="narrow-container">
    <div id="spinner-to-hide" class="wide-container welcome-wide-container spinning-circle pt-5">
        <div class="spinner-grow spinner-grow-sm m-2 dark-text" role="status">
            <span class="sr-only">Loading...</span>
        </div>
         <div class="spinner-grow spinner-grow-sm m-2 dark-text" role="status">
            <span class="sr-only">Loading...</span>
        </div>
         <div class="spinner-grow spinner-grow-sm m-2 dark-text" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

            <div class="season-navigation-small">

                <div class="dropdown">
                    <button class="blue-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Season {{ season.number }}.: {{ season.title }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for seas in seasons %}

                            <a class="dropdown-item {% if season.id == seas.id%} active {% endif %} nav-link handwriting light-text" href="{{ path('season_show', {'slug': seas.slug}) }}">Season {{seas.number }}. : {{seas.title }}</a>

                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item nav-link handwriting light-text" href="{{ path('season_new')}}"><i class="fas fa-plus"></i> Add New Season
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <button class="blue-button ">
                <a class="m-3" href="{{ path('episode_new') }}"><i class="fas fa-plus"></i> Add New Episode</a>
                </button>
            {% endif %}

    <div  id="content-to-show" class="d-none"> 
    {% for episode in episodes %}
        <a class="text-decoration-hover-none" href="{{ path('episode_show', {'slug': episode.slug}) }}">
        <div class="d-flex justify-content-between episode-container rounded use-shadow mt-3">
            <div class="d-flex flex-column justify-content-around">
                <div ><div class="episode-title-text simple-police blue-text-hoverable" > <i class="fas fa-play"></i> Episode {{episode.number }}. :
                        « {{episode.title }} » </div>
                </div>
                <div class="simple-police light-text">{{episode.recipename }}</div>

            </div>
            <img class="mini-image rounded use-shadow" src="/uploads/{{ episode.images.ownerphoto }}" alt="Image {{ episode.recipename }}">
        </div>
        </a>
            {% endfor %}

 </div>
        </div>

</div>

<script>
    let imgs = document.images,
        len = imgs.length,
        counter = 0;

    [].forEach.call( imgs, function( img ) {
        if(img.complete)
            incrementCounter();
        else
            img.addEventListener( 'load', incrementCounter, false );
    } );

    function incrementCounter() {
        counter++;
        if ( counter === len ) {
            let toHide = document.getElementById("spinner-to-hide")
            let toShow = document.getElementById("content-to-show")
            toShow.classList.remove("d-none");
            toShow.classList.add("fade-in-effect");
            toHide.classList.add("d-none");
        }
    }
    </script>

{% endblock %}
