{% extends 'base.html.twig' %}
{% block body %}
    {% include 'home/component/_nav.html.twig' %}
<div class="about-me-bg"></div>
    <div class="about-me-bg"></div>
    <div class="about-me-bg"></div>
<div class="season-box">

    <h1 class="handwriting">Season {{ season.number }}. :  {{ season.title  }}</h1>

    {% for episode in episodes %}
        <hr>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-around">
            <div><a href="{{ path('episode_show', {'id': episode.id}) }}"> <i class="fas fa-play"></i> Episode {{episode.number }}. :
                    <i class="fas fa-quote-left"></i> {{episode.title }}  <i class="fas fa-quote-right"></i> </a>
            </div>
        <div>{{episode.recipename }}</div>

            </div>
            {#  <img class="small-photo" src="{{episode.images.ownerphoto}}" alt="k">  #}
            <img class="small-photo" src="/uploads/{{ episode.images.ownerphoto }}" alt="{{ episode.recipename }}">
        </div>
            {% endfor %}

    <hr>
    <a href="{{ path('recipes_home') }}">Back to seasons</a>
{#
    <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>

    {{ include('season/_delete_form.html.twig') }}
#}
</div>
{% endblock %}
