{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}
    <div class="about-me-bg"></div>

    <div class="about-me-text">

<h1><i class="fas fa-utensils"></i> The Breakfast Show</h1>
    {% for season in seasons %}
      <div>
          <a href="{{ path('season_show', {'id': season.id}) }}">Season {{season.number }}. :
            {{season.title }}
          </a>
      </div>
    {% endfor %}
    </div>
{# {% for episode in episodes %}
        <div>
       <div> Season {{episode.season.number }}. :
        {{episode.season.title }}
        </div>
        <div>Episode {{episode.number }}. :
        {{episode.title }}
        </div>
        <div>{{episode.recipename }}
        <img class="self-photo" src="{{episode.images.ownerphoto}}" alt="k">
        </div>
            <div>PREAPARATION: {{episode.preparation.text }}</div>
        <ul>
            <div> For {{episode.person }} persons</div>
    {% for ingr in episode.listingredients %}

            <li>{{ingr.quantity * 5 }}
                {% if ingr.measure.id is defined and ingr.measure.id is not null %}
                    {{ ingr.measure.name }}
                {% endif %}
                {{ingr.ingredient.name }}</li>



        {% endfor %}
        </ul>
    {% endfor %}
   </div>
#}

{% endblock %}