<div class="season-navigation season-navigation-large">
{% for seas in seasons %}
      <div class="season-navigation-items{% if season.id == seas.id%} active active-left {% endif %}">

          <a class="nav-link handwriting light-text" href="{{ path('season_show', {'slug': seas.slug}) }}">Season {{seas.number }}. :
            {{seas.title }}
          </a> </div>

              {% if is_granted('ROLE_ADMIN') %}
                  <div class="d-flex justify-content-around">
              {% if season.id == seas.id%}

                  <div class="use-shadow rounded p-2"><a  href="{{ path('season_edit', {'id': season.id}) }}"><i class="fas fa-pen blue-text-hoverable text-decoration-none"></i></a></div>

                  <div class="use-shadow rounded">  {{ include('season/_delete_form.html.twig') }}</div>

              {% endif %}
                  </div>
        {% endif %}




    {% endfor %}


    {% if is_granted('ROLE_ADMIN') %}
    <div class=" white-text season-navigation-items">
        <div>
            <a class="nav-link handwriting blue-button" href="{{ path('season_new')}}"><i class="fas fa-plus"></i> Add New Season
            </a>
        </div>
    </div>
    {% endif %}


</div>


