{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}

<div class="episode-box d-flex flex-column align-items-center mb-5">
    <div id="spinner-to-hide" class="wide-container welcome-wide-container spinning-circle pt-5">
        <div class="spinner-grow spinner-grow-sm m-2 dark-text" role="status">
            <span class="sr-only">Loading...</span>
        </div>
         <div class="spinner-grow spinner-grow-sm m-2 dark-text" role="status">
            <span class="sr-only">Loading...</span>
        </div>
         <div class="spinner-grow spinner-grow-sm m-2 dark-text" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    </div>

    <div  id="content-to-show" class="d-none"> 
    <div class="d-flex flex-column align-items-center">
        <h1 class="actors-title simple-police m-5 p-5 fact-title">

            {{ random_fact.name }}

        </h1>
        <img class="use-shadow rounded fact-photo" src="{{ random_fact.image }}" alt="">
        <a href="{{ path('fun_fact') }}" class="m-5 episode-title-text simple-police dark-text "> <i class="fas fa-arrow-left"></i> Go back to cast</a>


    </div>
    </div>
     {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('episode_show') }}
    {% endblock %}

{% endblock %}