{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/component/_nav.html.twig' %}
<div class="wide-container-wrapper">
   <div class="wide-container welcome-wide-container">

       {% for i in 0..3 %}
           <div class="1size3-flex-item">
                <img class="image-{{ i }} {% if loop.index is even%} small-image{% else%}  large-image {% endif %} introduction-images image-shadow image-cycle" src="/uploads/{{ images[i] }}" alt="image {{ i }}">
           </div>
       {% endfor %}

       <div class="1size3-flex-item introduction-box">
    <div class="use-shadow introduction">
        <img class="introduction-logo" src="{{ asset('build/images/logo/logo_orange.png') }}" alt="">
        <div class="p-3">
<h5 class="handwriting dark-text">Early? Late? Quick? Lazy? Salty? Sweet?</h5>
        <p class="simple-police light-text">My favorite meal is the breakfast, especially when you can allow yourself to enjoy it and kick off the day
            in this way. And come on, breakfasts can be truly various, creative, seasonal, and tasty at the same time.
            Therefore, I started collecting my recipes and sharing them in the social media <i class="fab fa-instagram white-pic"></i> <i class="white-pic fab fa-facebook-square white-pic"></i>    so
            you can get proof of the above listed characteristics, get to know me and what I represent.
           </p>
        <h5 class="handwriting dark-text">But first, where it got started?</h5>
        <p  class="simple-police light-text">When I was a university student  <i class="fas fa-graduation-cap"></i> and studied for my exams, I have always had the tv on. I wonder if it’s
            only me… Not because I wanted to distract my attention on purpose but because in this way, I could
            make myself believe that it was not all about studying (boring...) but also letting some fun in. This fun
            were the cooking and baking shows which has become my passion straight away.
        <h5 class="handwriting dark-text">And where it may take me to?</h5>
        <p  class="simple-police light-text">I have always known that one day I would like to start a business  <i class="fas fa-suitcase"></i> where I can be in touch with people,
            use my creative side and skills and most importantly represent myself.
</p>

        <p  class="simple-police dark-text">I hope that you will enjoy preparing my recipes as much as I do, and moreover I believe that one day I
            can also welcome and serve you at my own breakfast place in Budapest <span class="heart-color"> <i class="fas fa-heart"></i></span>, Hungary. </p>
        </div>
    </div>
    </div>

       {% for i in 4..7 %}
            <div class="1size3-flex-item">
                <img class=" image-{{ i }} {% if loop.index is even%} large-image{% else%}small-image {% endif %} introduction-images image-shadow image-cycle" src="/uploads/{{ images[i] }}" alt="image {{ i }}">
            </div>
       {% endfor %}



   </div>
</div>
{% endblock %}

 {% block javascripts %}

         {{ encore_entry_script_tags('app') }}

<script>

const changingImages = document.getElementsByClassName("image-cycle");

let imageDataBase = [];
{% for i in 8..count_photos - 1 %}
        imageDataBase.push("/uploads/{{ images[i] }}");
{% endfor %}
order = [0,1,2,4,7,6,5,3]
console.log(imageDataBase);
setInterval(myTimer, 6000);
first_change_index = 0;
second_change_index = 4;
function myTimer() {
    let first_clear = changingImages[order[first_change_index]].src;
    let second_clear = changingImages[order[second_change_index]].src
    changingImages[order[first_change_index]].classList.remove("appear-effect");
    changingImages[order[second_change_index]].classList.remove("appear-effect");
    changingImages[order[first_change_index]].classList.add("disappear-effect");
    changingImages[order[second_change_index]].classList.add("disappear-effect");
    console.log("before");
    setTimeout(function(){ changingImages[order[first_change_index]].src=imageDataBase[0];  console.log("first 2 s"); }, 4000);
    setTimeout(function(){changingImages[order[second_change_index]].src=imageDataBase[1]; console.log("second 2 s");}, 4000);
    setTimeout(function(){changingImages[order[first_change_index]].classList.add("appear-effect");   }, 2000);
    setTimeout(function(){changingImages[order[second_change_index]].classList.add("appear-effect");}, 2000);
    imageDataBase.shift();
    imageDataBase.shift();
    imageDataBase.push(first_clear);
    imageDataBase.push(second_clear);
    console.log(imageDataBase);
    if (first_change_index > 6 ) {
        first_change_index = 0;
        second_change_index += 1;
    }
    else if (second_change_index > 6 ){
        first_change_index += 1;
        second_change_index =0;
    }else {
        first_change_index += 1;
        second_change_index += 1;
    }
}

</script>
 {% endblock %}