<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="{{ asset('build/images/logo/crossed-knife-and-fork.png')  }}" />
        <title>{% block title %}The Breakfast Show{% endblock %}</title>
        {% block stylesheets %} {{ encore_entry_link_tags('app') }}{% endblock %}


    </head>
    <body>
    <div class="wrapper">
        {% block body %}{% endblock %}
        <div class="push"></div>
    </div>
    <footer class="footer">
        <div class="handwriting small-text light-text">Follow me</div>
        <a href="https://www.instagram.com/the_breakfast_show/" target="_blank"><img class="insta-logo" src="{{ asset('build/images/logo/instagram.svg') }}" alt="instagram"></a>
        <a href="https://www.facebook.com/thebreakfastshow1" target="_blank" ><img class="fb-logo" src="{{ asset('build/images/logo/facebook.svg') }}" alt="facebook"></a>
    </footer>
        {% block javascripts %}   {{ encore_entry_script_tags('app') }}{% endblock %}

    </body>
</html>
