{% extends 'base.html.twig' %}

{% block title %}Preparation index{% endblock %}

{% block body %}
    <h1>Preparation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preparation in preparations %}
            <tr>
                <td>{{ preparation.id }}</td>
                <td>{{ preparation.text }}</td>
                <td>
                    <a href="{{ path('preparation_show', {'id': preparation.id}) }}">show</a>
                    <a href="{{ path('preparation_edit', {'id': preparation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('preparation_new') }}">Create new</a>
{% endblock %}
